ul {
  width: 100%;
  max-width: 1400px;
}
.ul-div{
  width: 75%;
}
.form-div{
  width: 25%;
}
.navItem {
  text-decoration: none;
  color: #212529;
  transition: 0.3s;
}
.navItem:hover {
  color: #078a6a;
}
.navActive {
  color: #078a6a;
}
#searchBtn:hover i {
  color: #eef2f3;
}
.form-control:focus {
  border: solid 1px #078a6a !important;
}
.redFocus:focus {
  border: solid 1px red !important;
}
@media (max-width: 992px) {
  .ul-div{
    margin-top: 20px;
    width: 100%;
  }
  .form-div{
    width: 100%;
    margin-bottom: 10px;
  }
  form{
    width: 250px !important;
  }
}
