@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
* {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  color: #313539;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.heading {
  color: #000;
}
.oval-arrow {
  border-top-left-radius: 35% 50% !important;
  border-top-right-radius: 35% 50% !important;
  border-bottom-left-radius: 35% 50% !important;
  border-bottom-right-radius: 35% 50% !important;
}
.oval-p {
  transition: 0.5s;
  border-top-left-radius: 20% 50% !important;
  border-top-right-radius: 20% 50% !important;
  border-bottom-left-radius: 20% 50% !important;
  border-bottom-right-radius: 20% 50% !important;
}
.btn-dark {
  background: #111 !important;
  width: 60px;
}
.btn-dark:hover {
  background: #313539 !important;
  width: 60px;
}
.btn-dark i {
  color: #eee;
}
.topics {
  transition: 0.3s;
  color: rgb(80 40 230)
}
.topics:hover {
  color: #078a6a;
  scale: 1.05;
}
.row{
  --bs-gutter-x: 0 !important;
}
.radius-15{
  border-radius: 15px;
}
.home-hiro{
  height: 79vh;
}